<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<div class="row">
<div class="span6 offset3">
<%= form_for(:session, url: sessions_path) do |f| %>
<br>Username:
<%= f.text_field :name %>
<br><%= f.label :password %>
<%= f.password_field :password %>
<br><%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
<% end %>


<!--p>New user? <%#= link_to "Sign up now!", signup_path %></p-->
</div>
</div>


<br>
<hr>
<h2>Make sure that Javascript is activated.</h2>
Click the button below. If Javascript is active, it should display a popup window.

<br><br><input type=button value="Test your Javascript" id=testyourjavascriptbutton>

<script>
$('#testyourjavascriptbutton').click(function(){alert('It works!');});
</script>
<br>
<br>
<hr><b>To activate Javascript on Android: :</b>
<br>1. Click on the "apps" option on your phone. Select the "Browser" option.
<br>2. Click the menu button. Select "Settings" (located towards the bottom of the menu).
<br>3. Select "Advanced" from the Settings screen.
<br>4. Check the box next to "Enable Javascript".
<hr><b>To activate Javascript on iPhone/iPad/iPod Touch: :</b>


<br>1. Select the Settings application/icon on the home screen
<br>2. Select Safari on the following screen
<br>3. Scroll down and look for the JavaScript item
<br>4. Select the JavaScript switch to the On position.



<br>
<br>


<hr>References:
http://www.wikihow.com/Enable-Javascript-on-an-Android-Phone
