<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :blessing_id %>: 
    <%= f.hidden_field :blessing_id %>
    <%= link_to @participant.blessing, @participant.blessing %>
  </div>
  <div class="field">
    <%= f.label :batch_id %>: 
    <%= f.hidden_field :batch_id %>
    <%= ((@participant.batch!=nil) ? @participant.batch : "") %>
  </div>
  
<table border=0>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Number</td>

    <% 
    #only if action = new / create
    #if params[:action]=="new" || params[:action]=="create" 
    %>
		<td colspan=7><%= f.hidden_field :no %><%= @participant.no %></td>
    <%#else%>
		<!--td colspan=7><%#= f.text_field :no %></td-->
    <%#end%>

	</tr>
	<tr>
		<td><%= f.label :sex %></td>
		<td colspan=7>
		<%#=select_tag @participant.sex, options_for_select([['Male', 'M'], ['Female', 'F']],@participant.sex), id:"participant_sex".html_safe, name:"participant[sex]" %>
	    <%=radiobuttonset({name:"participant[sex]", field:@participant.sex, keys:['M','F'], values:["Male","Female"]})%>
		</td>
	</tr>
	<tr>
		<td>Name</td>
		<td colspan=7><%= f.text_field :fname, size:15 %> <%= f.text_field :mname, size:5 %> <%= f.text_field :lname , size:15%></td>
	</tr>
	<tr>
		<td><%= f.label :age %></td> 
		<td colspan=3><%= f.text_field :age %></td>
		<td><%= f.label :occupation %></td>
		<td colspan=3><%= f.text_field :occupation %></td>
	</tr>
	<tr>
		<td><%= f.label :introducer %></td>
		<td colspan=7>
		   <%= f.collection_select :introducer, Volunteer.all.sort! { |a,b| a.name <=> b.name }, :name, :name, :prompt => "Choose one"%>
		</td>
	</tr>
	<tr>
		<td><%= f.label :guarantor %></td>
		<td colspan=7>
   			<%= f.collection_select :guarantor, Volunteer.all.sort! { |a,b| a.name <=> b.name }, :name, :name, :prompt => "Choose one"%>
		</td>
	</tr>
	<tr>
		<td><%= f.label :tel %></td>
		<td colspan=7><%= f.text_field :tel %></td>
	</tr>
	<tr>
		<td><%= f.label :missionary %></td>
		<td colspan=7>
   			<%= f.collection_select :missionary, Pastor.all.sort! { |a,b| a.name <=> b.name }, :name, :name, :prompt => "Choose one"%>
		</td>
	</tr>
	<tr>
		<td><%= f.label :remark %></td>
		<td colspan=3><%= f.text_field :remark %></td>
		<td><%= f.label :donation %></td>
		<td colspan=3><%= f.text_field :donation %></td>
	</tr>	
</table>


  <div class="actions">
    <% 
    #only if action = new / create
    if params[:action]=="new" || params[:action]=="create" 
    %>
    	<br><%= f.submit "Save participant and add another", name: "commit[]" %>
    <%end%>
    <br><%= f.submit "Save participant", name: "commit[]" %>
    
  </div>
<% end %>

<script>
//disable submit buttons after first click
//submit buttons all named "commit"

$('form').submit(function(){
$('[name="commit"]').attr({
disabled: 'disabled',
value: 'Processing, Please Wait...'
});
});

//enable buttons on refresh
$('[name="commit"]').removeAttr("disabled");   
</script>