<p id="notice"><%= notice %></p>
<p>
Created by <%= @participant.created_by.name %> at <%= l(@participant.created_at, :format => :long) %>
</p>
<p>
Updated by <%= @participant.updated_by.name %> at <%= l(@participant.updated_at, :format => :long) %>
</p>
<p>
  <b>Sex:</b>
  <%= @participant.sex %>
</p>

<p>
  <b>Name:</b>
  <%= @participant.name %>
</p>

<p>
  <b>Age:</b>
  <%= @participant.age %>
</p>

<p>
  <b>Occupation:</b>
  <%= @participant.occupation %>
</p>

<p>
  <b>Introducer:</b>
  <%= @participant.introducer %>
</p>

<p>
  <b>Guarantor:</b>
  <%= @participant.guarantor %>
</p>

<p>
  <b>Address:</b>
  <%= @participant.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @participant.tel %>
</p>

<p>
  <b>Missionary:</b>
  <%= @participant.missionary %>
</p>

<p>
  <b>Remark:</b>
  <%= @participant.remark %>
</p>

<p>
  <b>Donation:</b>
  <%= @participant.donation %>
</p>

<p>
  <b>Batch:</b>
  <%= @participant.batch_id %>
</p>

<p>
  <b>Blessing:</b>
  <%= @participant.blessing_id %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
