<h1>Listing ctimes</h1>

<table>
  <tr>
    <th>Span</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ctimes.each do |ctime| %>
  <tr>
    <td><%= ctime.span %></td>
    <td><%= ctime.value %></td>
    <td><%= link_to 'Show', ctime %></td>
    <td><%= link_to 'Edit', edit_ctime_path(ctime) %></td>
    <td><%= link_to 'Destroy', ctime, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ctime', new_ctime_path %>
