<p id="notice"><%= notice %></p>

<p>
  <b>Span:</b>
  <%= @ctime.span %>
</p>

<p>
  <b>Value:</b>
  <%= @ctime.value %>
</p>


<%= link_to 'Edit', edit_ctime_path(@ctime) %> |
<%= link_to 'Back', ctimes_path %>
