<%= form_for(@blessing) do |f| %>
  <% if @blessing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blessing.errors.count, "error") %> prohibited this blessing from being saved:</h2>

      <ul>
      <% @blessing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
	<%= f.text_field :date, :class => 'datepicker'  %>	
  </div>
  <div class="field">
    <%= f.label :contactinfo %><br />
    <%= f.text_area :contactinfo %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
$(function() {
  $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>

<script>
//disable submit buttons for all forms after first click
//submit buttons all named "commit"

$('form').submit(function(){
 $('[name="commit"]').attr({
  disabled: 'disabled',
  value: 'Processing, Please Wait...'
 });
});
</script>