<p id="notice"><%= notice %></p>

<h1>
  <b>Location:</b>
  <%= @blessing.location %>
</h1>

<p>
  <b>Date:</b>
  <%= l(@blessing.date, :format => :long) %>
</p>

<p>
  <b>Contactinfo:</b>
  <%= @blessing.contactinfo %>
</p>

<p>
  <b>Comments:</b>
  <%= @blessing.comments %>
</p>


<%= link_to 'Edit', edit_blessing_path(@blessing) %> |
<%= link_to 'Back', blessings_path %>

<%=render 'search'%>

<%=render 'showchildren'%>