<p id="notice"><%= notice %></p>

<h1>
  <b>Location:</b>
  <%= @blessing.location %>
</h1>

<p>
  <b>Date:</b>
  <%= l(@blessing.date, :format => :long) %>
</p>

<p>
  <b>Contactinfo:</b>
  <%= @blessing.contactinfo %>
</p>

<p>
  <b>Comments:</b>
  <%= @blessing.comments %>
</p>

<p>
  <b>Participant count:</b> 
  Total:
  <%= @blessing.participants.count %>, 
  <br>Male:
  <%= @blessing.participants.select{|p| p.sex == 'M' }.size %>, 
  Female:
  <%= @blessing.participants.select{|p| p.sex == 'F' }.size %>, 
  Batched:
  <%= @blessing.participants.select{|p| p.batch_id != nil }.size %>, 
  Unbatched:
  <%= @blessing.participants.select{|p| p.batch_id == nil }.size %>
  <br>Male Batched:
  <%= @blessing.participants.select{|p| p.sex == 'M' && p.batch_id != nil}.size %>, 
  Male Unbatched:
  <%= @blessing.participants.select{|p| p.sex == 'M' && p.batch_id == nil }.size %>, 
  Female Batched:
  <%= @blessing.participants.select{|p| p.sex == 'F' && p.batch_id != nil }.size %>, 
  Female Unbatched:
  <%= @blessing.participants.select{|p| p.sex == 'F' && p.batch_id == nil }.size %>
</p>

<%= link_to 'Edit', edit_blessing_path(@blessing) %> |
<%= link_to 'Back', blessings_path %>
<br>
<br><%= link_to 'Download Backup', blessing_path(format: "xlsx") %>
<br><%= link_to 'View report', blessings_report_path() + '?id='+@blessing.id.to_s, method: 'post' %>
<br><%= link_to 'View summary', blessings_summary_path() + '?id='+@blessing.id.to_s, method: 'post' %>

<%=render 'showchildren'%>