<p id="notice"><%= notice %></p>

<h1>
  <b>Location:</b>
  <%= @blessing.location %>
</h1>

<p>
  <b>Date:</b>
  <%= l(@blessing.date, :format => :long) %>
</p>

<p>
  <b>Contactinfo:</b>
  <%= @blessing.contactinfo %>
</p>

<p>
  <b>Comments:</b>
  <%= @blessing.comments %>
</p>

<p>
  <b>Participant count:</b> 
  Total:
  <%= @blessing.participants.count %>, 
  Male:
  <%= @blessing.participants.select{|p| p.sex == 'M' }.size %>, 
  Female:
  <%= @blessing.participants.select{|p| p.sex == 'F' }.size %>, 
  Batched:
  <%= @blessing.participants.select{|p| p.batch_id != nil }.size %>, 
  Unbatched:
  <%= @blessing.participants.select{|p| p.batch_id == nil }.size %>
</p>

<%= link_to 'Edit', edit_blessing_path(@blessing) %> |
<%= link_to 'Back', blessings_path %>
<br>
<br><%= link_to 'Download Backup', blessing_path(format: "xls") %>

<%=render 'showchildren'%>