<% 
batchcounter=0
@blessing.batches.each do |batch|
	batchcounter+=1
%>

<table border=1>
	<tr>
		<td align=center><b><%=@summaryheader[0]%></b></td>
		<td align=center><b><%=@summaryheader[1]%></b></td>
		<td align=center><b><%=@summaryheader[2]%></b></td>
		<td align=center><b><%=@summaryheader[3]%></b></td>
		<%
		@summaryheader4=@summaryheader[4].sub('0',@cnumbers[batchcounter])
		%>
		<td align=center><b><%=@summaryheader4%></b></td>
		<td colspan=3 align=center><b><%=@summaryheader[5]%></b></td>
		<td align=center><b><%=@summaryheader[6]%></b></td>
		<td align=center><b><%=@summaryheader[7]%></b></td>
		<td colspan=2 align=center><b><%=@summaryheader[8]%></b></td>
	</tr>
	<tr>
		<td align=center><b><%=@summaryheader2[0]%></b></td>
		<td align=center><b><%=@summaryheader2[1]%></b></td>
		<td align=center><b><%=@summaryheader2[2]%></b></td>
		<td align=center><b><%=@summaryheader2[3]%></b></td>
		<td align=center><b><%=@summaryheader2[4]%></b></td>
		<td align=center><b><%=@summaryheader2[5]%></b></td>
		<td align=center><b><%=@summaryheader2[6]%></b></td>
		<td align=center><b><%=@summaryheader2[7]%></b></td>
		<td align=center><b><%=@summaryheader2[8]%></b></td>
		<td align=center><b><%=@summaryheader2[9]%></b></td>
		<td align=center><b><%=@summaryheader2[10]%></b></td>
		<td align=center><b><%=@summaryheader2[11]%></b></td>
	</tr>
	<%batch.participants.sort!{ |a,b| a.no <=> b.no }.each do |p|%>	
	<tr>
		<td><%=p.no%></td>
		<td>
					<% if Volunteer.find_by_name(p.introducer) and Volunteer.find_by_name(p.introducer).chinesename %>
						<%=p.introducer%> (<%=Volunteer.find_by_name(p.introducer).chinesename%>)
					<%else%>
						<%=p.introducer%>
					<%end%>		</td>
		<td><%=p.guarantor%></td>
		<td><%=p.sex=='M'?@cmale:@cfemale%></td>
		<td><%=p.to_s%></td>
		<td><%=p.age%></td>
		<td></td>
		<td></td>
		<td><%=@cfriend%></td>
		<td><%=@blessing.location%></td>
		<td></td>
		<td><%=p.donation%></td>
	</tr>
	
	<%end%>
	
</table>
<br>
<%end%>