<%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :blessing_id %><br />
    <%= f.hidden_field :blessing_id %>
    <%= @batch.blessing %>
  </div>
  <div class="field">
    Batch <%= f.label :no %><br />
    <%= f.text_field :no %>
  </div>
  <div class="field">
    Batch <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
//disable submit buttons for all forms after first click
//submit buttons all named "commit"

$('form').submit(function(){
 $('[name="commit"]').attr({
  disabled: 'disabled',
  value: 'Processing, Please Wait...'
 });
});

//enable buttons on refresh
$('[name="commit"]').removeAttr("disabled");   
</script>