<br>
<br>
<hr>

<b>Unbatched Participants:</b>
<%=form_tag batches_massaddparticipant_path, :method => :post do%>
<input type=hidden name=gender id=gender value=<%= @gender %>>
<input type=hidden name=id id=id value=<%=@batch.id%> >

<table border=1 id="unbatchedparticipantstable">
  <tr VALIGN=TOP align=center>
    <th><%=check_box_tag "unbatched_participants_check_all"%></th>
    <th><%=link_to 'No', batch_path(@batch) + '?gender='+@gender+'&sort=no'+(@order=='normal'&&@sort=='no' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'First Name', batch_path(@batch) + '?gender='+@gender+'&sort=fname'+(@order=='normal'&&@sort=='fname' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Middle Name', batch_path(@batch) + '?gender='+@gender+'&sort=mname'+(@order=='normal'&&@sort=='mname' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Last Name', batch_path(@batch) + '?gender='+@gender+'&sort=lname'+(@order=='normal'&&@sort=='lname' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Sex', batch_path(@batch) + '?gender='+@gender+'&sort=sex'+(@order=='normal'&&@sort=='sex' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Age', batch_path(@batch) + '?gender='+@gender+'&sort=age'+(@order=='normal'&&@sort=='age' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Donation', batch_path(@batch) + '?gender='+@gender+'&sort=donation'+(@order=='normal'&&@sort=='donation' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Introducer', batch_path(@batch) + '?gender='+@gender+'&sort=introducer'+(@order=='normal'&&@sort=='introducer' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Guarantor', batch_path(@batch) + '?gender='+@gender+'&sort=guarantor'+(@order=='normal'&&@sort=='guarantor' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Missionary', batch_path(@batch) + '?gender='+@gender+'&sort=missionary'+(@order=='normal'&&@sort=='missionary' ? '&order=reverse' : "")%></td>
    <th><font size=1>Registered by / at</font></td>
  </tr>

<% @participants.each do |participant|
  if participant.batch_id.nil? && ( @gender=="Both" || participant.sex==@gender)
%>  
  <tr VALIGN=TOP align=center>
    <td><%=check_box_tag "participant_ids[]", participant.id %></td>
    <td><%= participant.no %></td>
    <td><%=participant.fname%></td>
    <td><%=participant.mname%></td>
    <td><%=participant.lname%></td>
    <td><%= participant.sex %></td>
    <td><%= participant.age %></td>
    <td><%= participant.donation %></td>
    <td><font size=1><%= participant.introducer %></font></td>
    <td><font size=1><%= participant.guarantor %></font></td>
    <td><font size=1><%= participant.missionary %></font></td>
    <td><font size=1><%= participant.created_by ? participant.created_by.name : "" %>, <%=participant.created_at.getlocal.strftime("%I:%M %p")%></font></td>    
    <td><%= link_to 'Add', batches_addparticipant_path+"?id=" + @batch.id.to_s + "&participant_id=" + participant.id.to_s, method: :post %></td>
    <td><%= link_to 'View', participant_path(participant) %></td>
    <td><%#= link_to 'Edit', edit_participant_path(participant) %></td>
    <td><%#= link_to 'Delete', participant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>

<%
  end
end
%>
</table>  

<%= submit_tag "Add Multiple Participants" %>
<%end%>



<%#=link_to "New participant",new_participant_path+"?blessing_id="+@blessing.id.to_s%>

<br>
<br>
<hr>

<b>Batch Participants:</b>
<%=form_tag batches_massprocessparticipant_path, :method => :post do%>
<input type=hidden name=gender id=gender value=<%= @gender %>>

<input type=hidden name=id id=id value=<%=@batch.id%> >

<table border=1 id="batchedparticipantstable">
  <tr VALIGN=TOP align=center>
  	<th>count</th>
    <th><%=check_box_tag "batched_participants_check_all"%></th>
    <th><%=link_to 'No', batch_path(@batch) + '?gender='+@gender+'&sort=no'+(@order=='normal'&&@sort=='no' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'First Name', batch_path(@batch) + '?gender='+@gender+'&sort=fname'+(@order=='normal'&&@sort=='fname' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Middle Name', batch_path(@batch) + '?gender='+@gender+'&sort=mname'+(@order=='normal'&&@sort=='mname' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Last Name', batch_path(@batch) + '?gender='+@gender+'&sort=lname'+(@order=='normal'&&@sort=='lname' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Sex', batch_path(@batch) + '?gender='+@gender+'&sort=sex'+(@order=='normal'&&@sort=='sex' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Age', batch_path(@batch) + '?gender='+@gender+'&sort=age'+(@order=='normal'&&@sort=='age' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Donation', batch_path(@batch) + '?gender='+@gender+'&sort=donation'+(@order=='normal'&&@sort=='donation' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Introducer', batch_path(@batch) + '?gender='+@gender+'&sort=introducer'+(@order=='normal'&&@sort=='introducer' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Guarantor', batch_path(@batch) + '?gender='+@gender+'&sort=guarantor'+(@order=='normal'&&@sort=='guarantor' ? '&order=reverse' : "")%></td>
    <th><%=link_to 'Missionary', batch_path(@batch) + '?gender='+@gender+'&sort=missionary'+(@order=='normal'&&@sort=='missionary' ? '&order=reverse' : "")%></td>
    <th><font size=1>Registered by / at</font></td>
  </tr>
<% 
	finalizedcounter=0
	participantcounter=0
	linebreakcounter=0
	linebreakprinted=false
	@participants.each do |participant| 

	#print line break
	if(!linebreakprinted && participantcounter%20==0)
		%>
		<!-------LINEBREAK---->
		<!--tr>
		<%
		linebreakcounter+=1
		%>
		<td colspan=100 		
			<% #if linebreakcounter % 2 == 0 %>
			style="background-color:#CCFFCC"
			<%#else%>
			style="background-color:#FFFFCC"
			<%#end%>
		>
		<%
		#linebreaktext=linebreakcounter.to_s
		#(1..80).each { |i| %><%#=linebreaktext%><% }
		%>
		</td>
		</tr-->
		<%
		linebreakprinted=true
	end
	
  	if participant.batch_id==@batch.id && ( @gender=="Both" || participant.sex==@gender)
  		finalizedcounter+=1 if participant.is_finalized
  		participantcounter+=1
  		linebreakprinted=false
%>  
  <tr VALIGN=TOP align=center <% if linebreakcounter % 2 == 0 %>style="background-color:#CCFFCC"<%else%>style="background-color:#FFFFCC"<%end%>
  >
  	<td><%=participantcounter%></td>
    <td><%if !participant.is_finalized %><%=check_box_tag "participant_ids[]", participant.id %><%else%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%end%></td>
    <td><%= participant.no %></td>
    <td><%=participant.fname%></td>
    <td><%=participant.mname%></td>
    <td><%=participant.lname%></td>
    <td><%= participant.sex %></td>
    <td><%= participant.age %></td>
    <td><%= participant.donation %></td>
    <td><font size=1><%= participant.introducer %></font></td>
    <td><font size=1><%= participant.guarantor %></font></td>
    <td><font size=1><%= participant.missionary %></font></td>
    <td><font size=1><%= participant.created_by ? participant.created_by.name : "" %>, <%=participant.created_at.getlocal.strftime("%I:%M %p")%></font></td>    
    <td><%if !participant.is_finalized %><%= link_to 'Unbatch', batches_removeparticipant_path+"?id=" + @batch.id.to_s + "&participant_id=" + participant.id.to_s, method: :post %><%end%></td>
    <td>
    	<%if !participant.is_finalized %>
    		<%= link_to 'Finalize', batches_finalizeparticipant_path+"?id=" + @batch.id.to_s + "&participant_id=" + participant.id.to_s, confirm: 'Finalize: Are you sure?', method: :post %>
    	<%else%>
	    	<%= link_to 'Unfinalize', batches_unfinalizeparticipant_path+"?id=" + @batch.id.to_s + "&participant_id=" + participant.id.to_s, confirm: 'Finalize: Are you sure?', method: :post %>
    	<%end%>
    </td>
    <td><%= link_to 'View', participant_path(participant) %></td>
    <td><%#= link_to 'Edit', edit_participant_path(participant) %></td>
    <td>
    	<%#if !participant.is_finalized %>
    	<%#= link_to 'Delete', participant, confirm: 'Delete: Are you sure?', method: :delete %>
    	<%#end%>
    </td>
  </tr>

<%
end
end
%>
</table>  

<%= submit_tag "Remove Multiple Participants", name: "commit[]" %>
<br><%= submit_tag "Move Multiple Participants to", name: "commit[]" %>
<%
batches=""
@batch.blessing.batches.each do |batch|
	batches+="<option value="+batch.id.to_s+">Batch "+batch.no.to_s+"</option>\n"
end
%>

<!--display ids as html, not pdf-->
<input type=hidden id=debug name=debug value=true>

<%=select_tag "movetobatch_id", batches.html_safe %>
<br><%= submit_tag "Finalize Multiple Participants", confirm: 'Finalize: Are you sure?', name: "commit[]" %>
<br>Print IDs <%= submit_tag "IDs Front Page", name: "commit[]" %> <%= submit_tag "IDs Back Page", name: "commit[]" %> (Pls limit to 10 participants at a time, to fit on bond paper size)
<br>
<br><%= submit_tag "Set Introducer / Guarantor", name: "commit[]" %>
<br>Introducer:<%= collection_select :introducer, :introducer, Volunteer.all.sort! { |a,b| a.name <=> b.name }, :name, :name, :prompt => "No Change"%>
<br>Guarantor: <%= collection_select :guarantor, :guarantor, Volunteer.all.sort! { |a,b| a.name <=> b.name }, :name, :name, :prompt => "No Change"%>
<br>Missionary: <%= collection_select :missionary, :missionary, Pastor.all.sort! { |a,b| a.name <=> b.name }, :name, :name, :prompt => "No Change"%>

<%end%>


<script>

$('#unbatched_participants_check_all').click(function() {
	$('#unbatchedparticipantstable #participant_ids_').prop('checked', $('#unbatched_participants_check_all').prop('checked'));
});
$('#batched_participants_check_all').click(function() {
	$('#batchedparticipantstable #participant_ids_').prop('checked', $('#batched_participants_check_all').prop('checked'));
});
</script>


<script>
//disable submit buttons for all forms after first click
//submit buttons all named "commit"

$('form').submit(function(){
 $('[name="commit"]').attr({
  disabled: 'disabled'
 });
});

 $('[name="commit"]').removeAttr("disabled");    
</script>

<script>
</script>
