<h1>Listing batches</h1>

<table>
  <tr>
    <th>No</th>
    <th>Gender</th>
    <th>Blessing</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= batch.no %></td>
    <td><%= batch.gender %></td>
    <td><%= batch.blessing_id %></td>
    <td><%= link_to 'Show', batch %></td>
    <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
    <td><%= link_to 'Destroy', batch, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batch', new_batch_path %>
<br>
<br>
<%#= link_to 'Download CSV', batches_path(format: "csv") %>
<br>
<%#= link_to 'Download Excel', batches_path(format: "xls") %>