<p id="notice"><%= notice %></p>

<p>
  <b>Blessing</b>:
  <%= link_to @batch.blessing, @batch.blessing   %>
</p>
<p>
  <b>Batch No:</b>
  <%= @batch.no %>
</p>

<p>
  <b>Batch Gender:</b>
  <%= @gender %>
</p>




<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back to '+@batch.blessing.to_s, @batch.blessing %>


<%=render 'showchildren'%>