<p id="notice"><%= notice %></p>

<p>
  <b>Blessing</b>:
  <%= link_to @batch.blessing, @batch.blessing   %>
</p>
<p>
  <b>Batch No:</b>
  <%= @batch.no %>
</p>
<p>
  <b>Participant count:</b> 
  Total:
  <%= @batch.participants.count %>, 
  Male:
  <%= @batch.participants.select{|p| p.sex == 'M' }.size %>, 
  Female:
  <%= @batch.participants.select{|p| p.sex == 'F' }.size %>
</p>
<p>
  <b>Gender:</b>
  <%= @gender %> 
  (Choose: 
  <%=link_to 'Male', batch_path(@batch) + "?gender=M" %> 
  <%=link_to 'Female', batch_path(@batch) + '?gender=F'%>
  <%=link_to 'Both', batch_path(@batch)%>
  )
</p>




<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back to '+@batch.blessing.to_s, @batch.blessing %>

<hr>

<%= form_tag batches_settime_path do %>
<b>Set Blessing Time:</b>
<%= collection_select :ctime_id, :ctime_id, Ctime.all, :id, :span, {:prompt => "Choose One", :selected => @batch.ctime_id}%>
<%= submit_tag "Set Time" %>
<%= hidden_field_tag :id, @batch.id %>
<% end %>

<%=render 'showchildren'%>

<hr>

<p>
  <b>Batch No:</b>
  <%= @batch.no %>
</p>
<p>
  <b>Participant count:</b> 
  Total:
  <%= @batch.participants.count %>, 
  Male:
  <%= @batch.participants.select{|p| p.sex == 'M' }.size %>, 
  Female:
  <%= @batch.participants.select{|p| p.sex == 'F' }.size %>
</p>
<p>
  <b>Gender:</b>
  <%= @gender %> 
  (Choose: 
  <%=link_to 'Male', batch_path(@batch) + "?gender=M" %> 
  <%=link_to 'Female', batch_path(@batch) + '?gender=F'%>
  <%=link_to 'Both', batch_path(@batch)%>
  )
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back to '+@batch.blessing.to_s, @batch.blessing %>
