<p id="notice"><%= notice %></p>

<p>
  <b>Blessing</b>:
  <%= @batch.blessing %>
</p>
<p>
  <b>Batch No:</b>
  <%= @batch.no %>
</p>

<p>
  <b>Batch Gender:</b>
  <%= @batch.gender %>
</p>




<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back to '+@batch.blessing.to_s, @batch.blessing %>


<%=render 'showchildren'%>